*{
  /*family: Arial, Helvetica, sans-serif;*/
  font-family: Roboto, sans-serif;  
}


body{
  background-color:  #333;
}

nav{
  margin-top: 10px;
  background-color: #454;
  overflow: hidden;
  width: 100%;
  border-radius: 10px;
  border: 1px solid #333;

}

nav a{
  float: right;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;

}

#title {
  float: left;
  color: #f2f2f2;
  text-align: center;
  margin-left: 150px;
}

h1 {
  color: #f3f3f3;
}

p{
  padding: auto;
  margin: 0 auto;
  width: 35.9%;
  border-radius: 10px;
  background-color:#454;
  border: 10px #343;   
  color: #f2f2f2;
  font-size: 20px;

}

header{
  font-size: 18px;
}

section{
  margin-top: 40px;
  text-align: center;
}

article{
  text-align: center;
}

ul {
  color: #f2f2f2;
  list-style-position: inside;
  list-style-type: circle;
  width: 96%;
}

a:hover{
  transform: scale(1.1);
  transition: color 0.3; ease;
}

a{
  border: 1.1px solid #333;
  border-radius: 5px;
}

nav h1{;
  margin: 10px;
  border-radius: 5px;
  border: 15px solid #333;
}
