

*{
  font-family: Roboto, sans-serif;
  
}


body {
  background-color: #0c0c0c;
}

main{
  margin-bottom: 100px;

li {
  list-style-type: none;
}

aside nav {
  display: flex;
  border-radius: 0;
  height: 10%;
  width: 100%;
  position: fixed;
  left: 0;
  bottom: 0;

}
aside nav h2{
  width: 50%;
  height: 7%;
  text-align: center;
  
}

aside nav ul{
  padding-left: 38%;
}

nav {
  margin-top: 10px;
  background-color: #123;
  overflow: hidden;
  width: 100%;
  border-radius: 10px;
  
  box-shadow: 6px 10px neon, -2em 0.63em white;

}
#nav-id {
  height: fit-content;
}

nav a {
  float: right;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;

  text-shadow: 1px 1px 2px #00a0a8;
  color: white;
}

#title {
  float: left;
  color: #f2f2f2;
  text-align: center;
  margin-left: 150px;
}

#gift {
  
}

p {
  /* padding: auto; */
  margin: 0 auto;
  width: 35.9%;
  border-radius: 10px;
  background-color: #123;
  border: 10px #343;
  text-shadow: 1px -0.123px 4px #00a0a8;
  color: white;
  padding: 15px;
  box-shadow: 6px 10px #000, -2em 0.5em #000;
  font-size: 20px;

}

p strong {
  text-shadow: -0.5px -2px 20px #00a0a8;
}

header {
  font-size: 18px;
}

section {
  margin-top: 40px;
  text-align: center;
}

article {
  text-align: center;
}

ul {
  display: flex;
  list-style-position: inside;
  list-style-type: circle;
  margin: 10px;
  height: 96%;
  float: right;
}

a:hover {
  transform: scale(1.1);
  transition: color 0.3 ease;
}

a {
  border-radius: 5px;
  color: white;
  text-shadow: 2px 2px 2px black;

  box-shadow: 2px 2px #000, -0.2em 0.5em #000;
}

nav h1 {
  margin: 10px;
  border-radius: 5px;
  border: 13px #474;
  text-shadow: -2px -1px 34px #46c0a8;
  color: white;
}

h1,
  h2 {
  /*text-shadow: 2px 2px 2px      #000; */

  text-shadow: -1px -1px 34px #46c0a8;
  color: white;
}

article {
  display: flex;
  justify-content: center;
}

.holy-ghost {
 display: flex;
 justify-content: center;
 margin-bottom: 70px;
}

@media screen and (max-width: 780px) {
    nav ul {
        list-style: none;
        padding: 0;
        margin: 0;
    }

    nav ul li {
        display: block;
        padding: 10px;
    }

    nav ul li a {
        display: block;
        padding: 10px 15px;
        text-align: left;
    }

    nav a {
        float: none;
        display: block;
        text-align: left;
        padding: 10px;
        font-size: 14px;
    }
    
    #title {
        float: none;
        text-align: center;
        margin-left: 0;
        font-size: 18px;
    }

    p{
      padding-left: 30px;
      padding-right: 30px;

    }
    main nav li{
        padding-left: .2px;
    }
      aside nav ul{
        padding-left: 0;
      }
}
